<phpunit
    bootstrap="./bootstrap.php"
    colors="true"
    stopOnFailure="true"
    syntaxCheck="true">
    <testsuite name="In2it library Tests">
        <directory>./</directory>
    </testsuite>
    <filter>
        <blacklist>
            <directory suffix=".php">../library/Zend</directory>
        </blacklist>
    </filter>
</phpunit>
